/*
.lesson-info-container {
    text-align: center;
}


.lesson-info-container .title {
    text-align: left;
    font-weight: bold;
    display: table-cell;
}
.lesson-info-container .value {
    text-align: right;
    display: table-cell;
}
*/
