<div class="
    groups-list-container"
     ng-controller="GroupsListCtrl">

    <div class="panel panel-default">

        <div class="panel-heading">

            <button class="btn btn-info btn-sm" ng-click="href('/groupCreate')">
                <i class="fa fa-plus"></i>
                <span class="hidden-xs">Создать</span>
            </button>

            <div class="btn-group">
                <button class="btn btn-info btn-sm" ng-click="openFilterGroupsModal()">
                    <i class="fa fa-filter"></i>
                    <span class="hidden-xs">Фильтровать</span>
                </button>

                <button class="btn btn-danger btn-sm" ng-click="filterModel = null" ng-show="filterModel !== null">
                    <i class="fa fa-eraser"></i>
                </button>
            </div>

            <button class="btn btn-danger btn-sm" ng-show="isAnyChecked" ng-click="removeCheckedGroups()">
                <i class="fa fa-times"></i>
                <span class="hidden-xs">Удалить</span>
            </button>

        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th><input type="checkbox" ng-click="toggleCheckAll()"></th>
                        <th>Название</th>
                        <th>Тренеры</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="(number,group) in groups" ng-class="{'selected': group.checked}">
                        <td><input ng-model="group.checked" type="checkbox"></td>
                        <td>
                            <div>
                                {{ group.name }}
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-default btn-margined" ng-repeat="coach in group.coaches">
                                {{ coach.name }}
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-warning btn-xs" ng-click="href('/groupInfo')">подробнее</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>