<div class="
    col-xs-12
    col-sm-12
    col-md-offset-2 col-md-8
    col-lg-offset-3 col-lg-6
    info-container
    group-edit-container"
     ng-controller="GroupEditCtrl">

    <div class="panel panel-default">
        <div class="panel-heading text-id">
            {{ groupInfo.id }}
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table info-container">
                    <tr>
                        <td class="title">Название</td>
                        <td class="value">
                            <input type="text" class="form-control" ng-model="groupInfo.name"/>
                        </td>
                    </tr>

                    <tr>
                        <td class="title">Тип</td>
                        <td class="value">{{ groupInfo.type }}</td>
                    </tr>

                    <tr ng-show="groupInfo.type === 'Стандартная'">
                        <td class="title">Стоимость обучения</td>
                        <td class="value">
                            <input type="text" class="form-control" ng-model="groupInfo.cost"/>
                        </td>
                    </tr>

                    <tr>
                        <td class="title">Тренеры</td>
                        <td class="value">
                            <button class="btn btn-margined btn-xs btn-default" ng-repeat="coach in groupInfo.coaches">
                                {{ coach.name }}
                            </button>
                        </td>
                    </tr>

                    <!--Переодичность-->
                    <tr>
                        <td colspan="2" class="valcue periodicity">
                            <table class="table collapsible">
                                <tr>
                                    <th ng-click="collapsePeriodicity()"
                                        colspan="5">
                                        Переодичность занятий
                                        <div class="collapse-button pull-right">
                                            <i class="fa fa-lg"
                                               ng-class="{'fa-minus-square': periodicityOpen, 'fa-plus-square': !periodicityOpen}"></i>
                                        </div>
                                    </th>
                                </tr>
                                <tr ng-show="periodicityOpen"
                                    ng-repeat="(number, periodic) in groupInfo.periodicity">
                                    <td>

                                        <!-- день недели -->

                                        {{ periodic.dayOfTheWeek }}
                                    </td>
                                    <td>

                                        <!-- время проведения -->

                                        {{ periodic.time.start }}<br>{{ periodic.time.end }}
                                    </td>
                                    <td>

                                        <!-- зал -->

                                        <button class="btn btn-xs btn-block btn-default">
                                            {{ periodic.hall.name }}
                                        </button>

                                    </td>
                                    <td>

                                        <!-- тренер -->

                                        <button class="btn btn-xs btn-block btn-default">
                                            {{ periodic.coach.name }}
                                        </button>

                                    </td>
                                    <td>

                                        <!-- Удаление переодичности -->

                                        <button ng-click="removePeriodicity(number)"
                                                class="btn btn-xs btn-danger pull-right close-button">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>

                                </tr>
                                <tr ng-show="periodicityOpen">
                                    <td colspan="5">
                                        <button
                                                ng-click="openCreatePeriodicityModal()"
                                                class="btn btn-info">
                                            Добавить
                                        </button>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                    <!--Состав-->
                    <tr ng-show="groupInfo.type === 'Стандартная'">
                        <td colspan="2" class="value members">


                            <!-- СОСТАВ -->


                            <table class="table collapsible">
                                <tr>
                                    <th ng-click="collapseMembers()" colspan="2">
                                        Состав группы
                                        <div class="collapse-button pull-right">
                                            <i class="fa fa-lg"
                                               ng-class="{'fa-minus-square': membersOpen, 'fa-plus-square': !membersOpen}"></i>
                                        </div>
                                    </th>
                                </tr>
                                <tr ng-show="membersOpen" ng-repeat="(number,member) in groupInfo.members">
                                    <td>

                                        <!-- имя ученика -->

                                        <button class="btn btn-sm btn-default">
                                            {{ member.name }}
                                        </button>
                                    </td>
                                    <td>

                                        <!-- удаление ученика -->

                                        <button ng-click="removeMember(number)"
                                                class="btn btn-xs btn-danger pull-right close-button">
                                            <i class="fa fa-xs fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-show="membersOpen">
                                    <td colspan="2" class="text-center">
                                        <button ng-click="openFindMembersModal()" class="btn btn-info">
                                            Добавить
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <div class="col-xs-12 control-button-group">
                    <div class="col-xs-4">
                        <button class="btn btn-danger btn-block">
                            <i class="fa fa-lg fa-trash-o"></i>
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-primary btn-block">
                            <i class="fa fa-lg fa-reply"></i>
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-success btn-block">
                            <i class="fa fa-lg fa-check"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>