<div class="
    col-xs-12
    col-sm-12
    col-md-offset-2 col-md-8
    col-lg-offset-3 col-lg-6
    info-container
    group-info-container"
     ng-controller="GroupInfoCtrl">


    <div class="panel panel-default">

        <div class="panel-heading text-id">
            {{ groupInfo.id }}
            <div class="pull-right">
                <a href="#/groupEdit">
                    <button class="btn btn-default btn-xs"><i class="fa fa-xs fa-pencil"></i></button>
                </a>
            </div>
        </div>

        <div class="panel-body" ng-hide="groupInfo.type !== undefined && groupInfo.type !== null">
            <p class="text-center">
                Ошибка: Неверный тип группы
            </p>
        </div>

        <div class="panel-body">

            <div class="table-responsive">
                <table class="table info-container">
                    <tr>
                        <td class="title">Название</td>
                        <td class="value">{{ groupInfo.name }}</td>
                    </tr>

                    <tr>
                        <td class="title">Тип</td>
                        <td class="value">{{ groupInfo.type }}</td>
                    </tr>

                    <tr ng-show="groupInfo.type === 'Стандартная'">
                        <td class="title">Стоимость</td>
                        <td class="value">{{ groupInfo.cost }}</td>
                    </tr>

                    <tr>
                        <td class="title">Тренеры</td>
                        <td class="value">
                            <button class="btn btn-xs btn-default" ng-repeat="coach in coaches">
                                {{ coach.name }}
                            </button>
                        </td>
                    </tr>

                    <tr ng-show="groupInfo.type === 'Стандартная'">
                        <td colspan="2">
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-md btn-info">Счета</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-md btn-info">Журнал</button>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" class="valcue periodicity">



                            <table class="table collapsible">
                                <tr>
                                    <th colspan="4" ng-click="collapsePeriodicity()">
                                        Переодичность занятий
                                        <div class="collapse-button pull-right">
                                            <i class="fa fa-lg"
                                               ng-class="{'fa-minus-square': periodicityOpen, 'fa-plus-square': !periodicityOpen}"></i>
                                        </div>
                                    </th>
                                </tr>
                                <tr ng-show="periodicityOpen" ng-repeat="per in groupInfo.periodicity">
                                    <td>
                                        {{ per.dayOfTheWeek }}
                                    </td>
                                    <td>
                                        {{ per.time.start }}<br>{{ per.time.end }}
                                    </td>
                                    <td>

                                        <button class="btn btn-xs btn-block btn-default">
                                            {{ per.hall.name }}
                                        </button>

                                    </td>
                                    <td>

                                        <button class="btn btn-xs btn-block btn-default">
                                            {{ per.coach.name }}
                                        </button>

                                    </td>
                                </tr>
                            </table>


                        </td>
                    </tr>

                    <tr ng-show="groupInfo.type === 'Стандартная'">
                        <td colspan="2" class="value members">

                            <table class="table collapsible">
                                <tr>
                                    <th ng-click="collapseMembers()">
                                        Состав группы
                                        <div class="collapse-button pull-right">
                                            <i class="fa fa-lg"
                                               ng-class="{'fa-minus-square': membersOpen, 'fa-plus-square': !membersOpen}"></i>
                                        </div>
                                    </th>
                                </tr>
                                <tr ng-show="membersOpen" ng-repeat="member in groupInfo.members">
                                    <td>
                                        <button class="btn btn-sm btn-default">
                                            {{ member.name }}
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </div>


</div>