<ion-view view-title="Тренеры">
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-android-create">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-input">
                <span class="input-label">Фамилия</span>
                Рыжиков
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">Имя</span>
                Николай
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">Отчество</span>
                Андреевич
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>