<form name="createForm">

    <ion-view cache-view="false">
        <ion-nav-title>Новый клиент</ion-nav-title>
        <ion-content>


            <ion-list>
                <ion-item class="item-input item-icon-right">
                    <span class="input-label">Имя</span>
                    <input type="text"
                           required
                           name="name"
                           ng-model="data.name"/>
                    <i ng-show="!createForm.name.$valid && (!createForm.name.$pristine || formSubmited)"
                       tooltip-placement="left" tooltip-trigger="click" tooltip="Не должно быть пустым!"
                       class="icon ion-android-alert assertive"></i>
                </ion-item>
            </ion-list>

            <!-- ------------- -->

            <ion-item class="item-divider item-icon-right">
                Добавить в группы
            </ion-item>

            <ion-item ng-repeat="groupId in data.consists"

                      class="smart-collapse__child item-button-right">

                {{ ResourceCache.get('groups/'+groupId ).name }}

                <button class="button button-small button-clear"
                        ng-click="data.consists.remove( groupId )">
                    <i class="icon ion-close"></i>
                </button>

            </ion-item>


            <button class="item button button-balanced button-clear button-full"
                    ng-click="SearchModal.open({
                            title: 'Найти группу',
                            resourceType: 'Groups',
                            arrayToPush: data.consists
                        })">
                Добавить
            </button>

            <!-- ------------- -->




        </ion-content>

        <ion-footer-bar align-title="center" class="bar-balanced">
            <div class="title" ng-click="create(createForm)">Создать</div>
        </ion-footer-bar>
    </ion-view>

</form>