<ion-view cache-view="true">
    <ion-nav-title>Редактирование</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-android-done"
                ng-click="applyChanges()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-input"
                      ng-class="{'changed-field': data.name != originalResource.name}">
                <span class="input-label">Имя</span>
                <input type="text"
                       ng-model="data.name"/>
            </ion-item>
        </ion-list>
        <ion-item class="item-input">
            <span class="input-label">Состоит в группах</span>

            <div class="margined-buttons">
                <button class="button button-outline button-royal"
                        ng-repeat="groupId in data.consists"
                        ng-click="$state.go( 'app.groups.view', { id: groupId } )">
                    {{ ResourceCache.get( 'groups/'+groupId ).name }}
                </button>
            </div>

            <button class="button button-outline button-balanced icon ion-plus"
                    ng-click="SearchModal.open({
                        title: 'Найти группу',
                        resourceType: 'Groups',
                        arrayToPush: data.consists
                    })">
            </button>
        </ion-item>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-assertive">
        <div class="title" ng-click="remove()">Удалить клиента</div>
    </ion-footer-bar>
</ion-view>