<ion-view cache-view="true">
    <ion-nav-title>Редактирование</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-android-done"
                ng-click="applyChanges()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-input"
                      ng-class="{'changed-field': data.name != originalResource.name}">
                <span class="input-label">Имя</span>
                <input type="text"
                       ng-model="data.name"/>
            </ion-item>

            <ion-item class="item-divider item-icon-right"
                      ng-click="collapseSwitcherValues.consists = !collapseSwitcherValues.consists">
                Состоит в группах
                <i ng-class="{
                    'icon ion-arrow-down-b': !collapseSwitcherValues.consists,
                    'icon ion-arrow-up-b': collapseSwitcherValues.consists
                }"></i>
            </ion-item>

            <div class="list__collapsible-items"
                 ng-show="collapseSwitcherValues.consists">

                <ion-item ng-repeat="groupId in data.consists"
                          class="item-button-right">
                    <a class="royal"
                       ng-click="$state.go( 'app.groups.view', { id: groupId } )">
                        {{ ResourceCache.get('groups/'+groupId ).name }}
                    </a>
                    <button class="button button-assertive button-clear icon ion-close"
                            ng-click="data.consists.remove( groupId )"></button>
                </ion-item>


                <button class="item button button-balanced button-clear button-full"
                        ng-click="SearchModal.open({
                            title: 'Найти группу',
                            resourceType: 'Groups',
                            arrayToPush: data.consists
                        })">
                    Добавить
                </button>

            </div>
        </ion-list>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-assertive">
        <div class="title" ng-click="remove()">Удалить клиента</div>
    </ion-footer-bar>
</ion-view>