<div class="modal-header">
    <h3 class="modal-title">Поиск тренеров</h3>
</div>
<div class="modal-body">
    <table class="table">
        <tr>
            <td class="title">Тренеры</td>
            <td class="value">

                <!-- Элемент тренера -->
                <div class="btn-group btn-group-sm" ng-repeat="coach in filterModel.coaches">

                    <!-- Кнопка удаления тренера -->
                    <button ng-click="removeCoach()" class="btn btn-sm btn-danger">
                        <i class="fa fa-sm fa-times"></i>
                    </button>

                    <button class="btn btn-sm btn-default">
                        {{ coach.name }}
                    </button>

                </div>

                <div class="btn-group btn-group-sm">

                    <!--Кнопка добавления тренера-->
                    <button ng-click="openFindCoachesModal()" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

            </td>
        </tr>

        <tr>
            <td class="title">Ученики</td>
            <td class="value">

                <!-- Элемент ученика -->
                <div class="btn-group btn-group-sm" ng-repeat="member in filterModel.members">

                    <!-- Кнопка удаления ученика -->
                    <button ng-click="removeMember()" class="btn btn-sm btn-danger">
                        <i class="fa fa-sm fa-times"></i>
                    </button>

                    <button class="btn btn-sm btn-default">
                        {{ member.name }}
                    </button>

                </div>

                <div class="btn-group btn-group-sm">

                    <!--Кнопка добавления ученика-->
                    <button ng-click="openFindMembersModal()" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

            </td>
        </tr>

        <tr>
            <td class="title">Залы</td>
            <td class="value">

                <!-- Элемент зала -->
                <div class="btn-group btn-group-sm" ng-repeat="hall in filterModel.halls">

                    <!-- Кнопка удаления зала -->
                    <button ng-click="removeHall()" class="btn btn-sm btn-danger">
                        <i class="fa fa-sm fa-times"></i>
                    </button>

                    <button class="btn btn-sm btn-default">
                        {{ hall.name }}
                    </button>

                </div>

                <div class="btn-group btn-group-sm">

                    <!--Кнопка добавления зала-->
                    <button ng-click="openFindHallsModal()" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

            </td>
        </tr>

    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>