<div class="modal-header">
    <h3 class="modal-title">Поиск учеников</h3>
</div>
<div class="modal-body">
    <div class="">
        <input type="text" class="form-control" ng-model="searchStr" placeholder="Поиск">
    </div>

    <div class="scroll">
        <table class="table">
            <tr class="coach-row"
                ng-class="{selected: member.selected}"
                ng-repeat="(number, member) in members | filter:searchStr | limitTo:showLimit"
                ng-click="selectMember(number)">

                <td>
                    <i class="fa fa-xs" ng-class="{'fa-check': member.selected}"></i>
                    {{ member.name }}
                </td>
            </tr>
            <tr ng-show=" showLimit <= halls.length ">
                <td class="text-center preload">
                    <button ng-click="incrementLimit()" class="btn btn-default">
                        <i class="fa fa-lg fa-refresh"></i> Подгрузить ещё
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>