@import "http://webfonts.ru/import/osans.css";
@import "http://webfonts.ru/import/ptsans.css";

#side-menu a{
    /*font-family: 'Open sans';*/
    font-size: 14px;
    font-weight: bold;
    color: rgb(78, 78, 78);
}

#side-menu .logout-button {
    text-align: center;
    padding: 10px;
}

.navbar-brand {
    /*font-family: 'Open sans';*/
    font-size: 18px;
    font-weight: bold;
    color: rgb(78, 78, 78);
}

body {
    font-family: 'Roboto', sans-serif;
}

.page-header {
    /*font-family: 'Open sans';*/
    font-weight: bold;
    font-size: 13pt;
    color: rgb(65, 65, 65);
    margin: 20px 0 10px;
}
.page-content {
    padding-top: 0;
}



a.no-href {
    cursor: default;
    color: black;
}

a.no-href.logout {
    color: blue;
    cursor: pointer;
}

.user-side-bar {
    padding: 10px 10px 10px 30px;
}

.hide-side-bar {margin-left: -195px;}
.not-hide-side-bar {margin-left: 0px;}

.hide-side-bar-wrapper {margin: 0 0 0 55px;}
.not-hide-side-bar-wrapper {margin: 0 0 0 250px;}



.navbar-brand.offset {
    width: 250px;
}

.module-name .back {
    float: left;
    /*display: inline-block;*/
    /*height: 30px;*/
    /*width: 30px;*/
    padding-right: 10px;
}

.module-name .back button {
    position: relative;
    margin-top: -7px;
}

.mini-text {
    font-size: 9pt;
}

.medium-text {
    font-size: 14pt;
}

.large-text {
    font-size: 16pt;
    font-weight: bold;
}

.value a:hover {
    text-decoration: none;
}




.table .title {
    text-align: left;
    font-weight: bold;
    display: table-cell;
    /*min-width: 35%;*/
    vertical-align: middle;
}
.table .value {
    /*text-align: right;*/
    display: table-cell;
    /*max-width: 65%;*/
}

.info-container {
    padding: 0;
}

.info-container .label {
    font-size: 9pt;
}

input.time {
    width: 70px;
    display: inline-block;
}

/*td.value > .btn,*/
td.value .btn-group,
td.value .btn-margined,
.btn-margined
/*.periodicity td .btn*/ {
    margin: 3px 5px 3px 0;
}


#page-wrapper {
    padding: 0 15px;
    min-height: 500px;
    background: none;
}
.panel {
    /*margin: -5px;*/
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
}
.panel-heading {
    border: none;
    border-radius: 0;
    background-color: gray;
}
.panel-body {
    padding: 0;
}

.panel.panel-default {
    border-color: #fff;
}

.control-button-group{
    padding: 15px 0 5px 0;
}
.control-button-group button {
    margin: 5px;
}

.table.collapsible {
    margin-bottom: 0;
}

.table.collapsible th {
    border-top: none;
}

.close-button {
    margin: 0;
}

.text-id {
    font-family: Consolas;
    font-size: 10pt;
    color: gray;
}

tr.selected{
    background-color: rgba(255, 255, 0, 0.14);
}