<div class="
    col-xs-12
    col-sm-12
    col-md-offset-2 col-md-8
    col-lg-offset-3 col-lg-6
    info-container
    new-lesson-container"
     ng-controller="LessonCreateCtrl">


    <div class="panel panel-default">

        <div class="panel-heading">
            Новое занятие
        </div>
        <div class="panel-body">
            <table class="table info-container">
                <tr>
                    <td class="title">Время проведения</td>
                    <td class="value">
                        <div class="form-inline">
                            <input type="time" ng-model="lessonInfo.time.startTime" class="form-control"/>
                            <input type="time" ng-model="lessonInfo.time.endTime" class="form-control"/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="title">Дата проведения</td>
                    <td class="value">
                        <input type="date" ng-model="lessonInfo.time.date" class="form-control"/>
                    </td>
                </tr>

                <tr>
                    <td class="title">Тренер</td>
                    <td class="value">
                        <tags-input ng-model="coachesModel" class="ti-input-sm" display-property="name">
                            <auto-complete source="loadTags($query)"></auto-complete>
                        </tags-input>
                    </td>
                </tr>

                <tr>
                    <td class="title">Зал</td>
                    <td class="value">
                        <tags-input ng-model="hallsModel" class="ti-input-sm" max-tags="1" display-property="name">
                            <auto-complete source="loadTags($query)"></auto-complete>
                        </tags-input>
                    </td>
                </tr>

                <tr>
                    <td class="title">Группа</td>
                    <td class="value">
                        <tags-input ng-model="groupsModel" class="ti-input-sm" max-tags="1" display-property="name">
                            <auto-complete source="loadTags($query)"></auto-complete>
                        </tags-input>
                    </td>
                </tr>
            </table>


            <!-- PC версия -->
            <div class="hidden-xs hidden-sm">
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block">Отмена</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success btn-block">Создать</button>
                </div>
            </div>

            <!-- Mobile версия -->
            <div class="hidden-md hidden-lg">
                <button class="btn btn-default btn-block">Отмена</button>
                <button class="btn btn-success btn-block">Создать</button>
            </div>


        </div>
    </div>


</div>

