<div class="
    col-xs-12
    col-sm-12
    col-md-offset-2 col-md-8
    col-lg-offset-3 col-lg-6
    info-container
    lesson-info-container"
     ng-controller="LessonInfoCtrl">


    <div class="panel panel-default">

        <div class="panel-heading text-id">
            {{ lessonInfo.id }}
            <div class="pull-right">
                <button class="btn btn-default btn-xs">
                    <i class="fa fa-xs fa-pencil"></i>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <table class="table info-container">
                <tr>
                    <td class="title">Время проведения</td>
                    <td class="value">{{ lessonInfo.time.start }} — {{ lessonInfo.time.end }}</td>
                </tr>

                <tr>
                    <td class="title">Дата проведения</td>
                    <td class="value">{{ lessonInfo.time.date }}</td>
                </tr>

                <tr>
                    <td class="title">Тренер</td>
                    <td class="value">
                        <button class="btn btn-xs btn-default">
                            {{ lessonInfo.coach.name }}
                        </button>
                    </td>
                </tr>

                <tr>
                    <td class="title">Зал</td>
                    <td class="value">
                        <button class="btn btn-xs btn-default">
                            {{ lessonInfo.hall.name }}
                        </button>
                    </td>
                </tr>

                <tr>
                    <td class="title">Группа</td>
                    <td class="value">
                        <button class="btn btn-xs btn-default">
                            {{ lessonInfo.group.name }}
                        </button>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div class="col-xs-6">
                            <button class="btn btn-block btn-info">Счета</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-block btn-info">Журнал</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>




</div>