<div class="
    col-xs-12
    col-sm-12
    col-md-offset-2 col-md-8
    col-lg-offset-3 col-lg-6
    info-container
    edit-lesson-container"
     ng-controller="EditLessonCtrl">


    <div class="panel panel-default">

        <div class="panel-heading">
            abd9789abd9adb789abc978dc567
        </div>
        <div class="panel-body">
            <table class="table info-container">
                <tr>
                    <td class="title">Время проведения</td>
                    <td class="value">
                        <div class="form-inline">
                            <input type="time" ng-model="lessonInfo.time.startTime" class="form-control"/>
                            <input type="time" ng-model="lessonInfo.time.endTime" class="form-control"/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="title">Дата проведения</td>
                    <td class="value">
                        <input type="date" ng-model="lessonInfo.time.date" class="form-control"/>
                    </td>
                </tr>

                <tr>
                    <td class="title">Тренер</td>
                    <td class="value">
                        <div class="btn-group" ng-repeat="coach in lessonInfo.coach">
                            <a href="#/feed" role="button" class="btn btn-default btn-sm">{{ coach.name }}</a>
                            <button class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-warning btn-sm"><i class="fa fa-plus"></i></button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="title">Зал</td>
                    <td class="value">
                        <div class="btn-group" ng-repeat="hall in lessonInfo.hall">
                            <a href="#/feed" role="button" class="btn btn-default btn-sm">{{ hall.name }}</a>
                            <button class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-warning btn-sm"><i class="fa fa-plus"></i></button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="title">Группа</td>
                    <td class="value">
                        <div class="btn-group" ng-repeat="group in lessonInfo.group">
                            <a href="#/feed" role="button" class="btn btn-default btn-sm">{{ group.name }}</a>
                            <button class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-warning btn-sm"><i class="fa fa-plus"></i></button>
                        </div>
                    </td>
                </tr>
            </table>


            <!-- PC версия -->
            <div class="col-xs-12 control-button-group">
                <div class="col-xs-6">
                    <button class="btn btn-danger btn-block">Удалить</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-primary btn-block">Отмена</button>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-success btn-block">Применить</button>
                </div>
            </div>


        </div>
    </div>


</div>

