<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <title>Maximum CRM</title>


    <link rel="icon" sizes="128x128" href="css/images/app-icon.png">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css"/>



    <!-- js -->

    <!-- angular -->
    <!-- build:script inline angular -->
    <!-- /build -->

    <!-- bootstrap -->
    <!-- build:script inline bootstrap -->
    <!-- /build -->

    <!-- jquery -->
    <!-- build:script inline jquery -->
    <!-- /build -->





    <!-- css -->

    <!-- bootstrap -->
    <!-- build:style inline bootstrap -->
    <!-- /build -->

    <!-- build: remove -->




    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bower_components/metisMenu/dist/metisMenu.min.css"/>
    <link rel="stylesheet" href="../bower_components/sb-admin-v2/css/sb-admin.css"/>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../bower_components/metisMenu/dist/jquery.metisMenu.min.js"></script>
    <script src="../bower_components/sb-admin-v2/js/sb-admin.js"></script>


    <link rel="stylesheet" href="css/my.css"/>

    <link rel="stylesheet" href="css/feed/feed.css"/>

    <link rel="stylesheet" href="css/lesson/lesson-info.css"/>
    <link rel="stylesheet" href="css/lesson/lesson-edit.css"/>
    <link rel="stylesheet" href="css/lesson/lesson-new.css"/>
    <link rel="stylesheet" href="css/lesson/lessons-list.css"/>

    <link rel="stylesheet" href="css/group/group-info.css"/>
    <link rel="stylesheet" href="css/group/group-edit.css"/>



    <script src="js/app.js"></script>

    <script src="js/modals/modals.js"></script>
    <script src="js/modals/create-periodicity.js"></script>
    <script src="js/modals/find-coaches.js"></script>
    <script src="js/modals/find-halls.js"></script>
    <script src="js/modals/find-members.js"></script>
    <script src="js/modals/filter-groups.js"></script>

    <script src="js/feed/feed.js"></script>

    <script src="js/lesson/lesson-info.js"></script>
    <script src="js/lesson/lesson-edit.js"></script>
    <script src="js/lesson/lesson-new.js"></script>
    <script src="js/lesson/lessons-list.js"></script>

    <script src="js/group/group-info.js"></script>
    <script src="js/group/group-edit.js"></script>
    <script src="js/group/group-create.js"></script>
    <script src="js/group/groups-list.js"></script>

    <!-- /build -->

</head>

<body ng-app="maximumCrm">




<div id="wrapper" ng-controller="NavigationCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand offset hidden-xs"></span>
                <span class="module-name navbar-brand">
                    <div class="back">
                        <button class="btn btn-warning"><i class="fa fa-lg fa-angle-left"></i></button>
                    </div>
                    {{ curPageName }}
                </span>
        </div>



        <div ng-class="{'hide-side-bar': !sidebarVisible}" class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <!--МЕНЮ-->

                <ul class="nav" id="side-menu">
                    <li class="user-side-bar">
                        <i class="fa fa-user"></i> &nbsp; {{ user.name }} &nbsp;
                        <!--Настройки-->
                        <button class="btn btn-default btn-sm"><i class="fa fa-cog"></i></button>
                        <!--Скрыть sidebar-->
                        <button

                                ng-click="toggleVisibleSideBar()"
                                class="btn btn-danger btn-sm pull-right hidden-xs">
                            <i class="fa" ng-class="{'fa-arrow-left': sidebarVisible, 'fa-arrow-right': !sidebarVisible}"></i>
                        </button>
                    </li>
                    <li class="logout-button">
                        <button class="btn btn-sm btn-default">
                            Выход из аккаунта
                        </button>
                    </li>
                    <li
                            ng-repeat="(iterator, module) in modules">
                        <a href="#{{ module.href }}"><i class="fa fa-chevron-right"></i> {{ module.desc }}</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>



    <!-- Page Content -->
    <div class="page-wrapper" ng-class="{'hide-side-bar-wrapper': !sidebarVisible}">
        <div class="row">
            <div id="main" class="page-content">
                <ng-view></ng-view>
            </div>
        </div>
        <!-- /.row -->
    </div>


</div>









</body>

</html>

