<ion-view cache-view="true">
    <ion-nav-title>Редактирование</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-android-done"
                ng-click="applyChanges()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-input">
                <span class="input-label">Дата</span>
                <ionic-datepicker idate="lessonAdditionalData.startDate">
                    <button class="button button-block button-outline button-balanced">{{ data.time.start ?
                        $filter('date')( data.time.start, 'dd.MM.yyyy' ) : 'Дата проведения' }}
                    </button>
                </ionic-datepicker>
            </ion-item>

            <ion-item class="item-input">
                <span class="input-label">Начнётся в</span>

                <div>
                    <ionic-time-picker
                            style="display: inline-block"
                            etime="lessonAdditionalData.startTimeInSeconds" format="24" step="15">
                        <button class="button button-block button-outline button-balanced"> {{ lessonAdditionalData.getStringStartTime() }}
                        </button>
                    </ionic-time-picker>
                    <input type="number"
                           style="margin-left: 15px; display: inline-block"
                           placeholder="продлится (минут)"
                           ng-model="lessonAdditionalData.durationInMinutes"/>
                </div>

            </ion-item>

            <!-- ------------------ GROUPS -------------------- -->

            <div class="item item-divider">
                Группы
            </div>

            <ion-item ng-repeat="groupId in data.groups"
                      class="item-button-right">

                <a class="royal" ng-click="$state.go( 'app.groups.view', { id: groupId } )">
                    {{ ResourceCache.get('groups/'+groupId ).name }}
                </a>

                <button class="button button-assertive button-clear icon ion-close"
                        ng-click="data.groups.remove( groupId )">
                </button>

            </ion-item>

            <button class="item button button-balanced button-clear button-full"
                    ng-click="SearchModal.open({
                            title: 'Найти группу',
                            resourceType: 'Groups',
                            arrayToPush: data.groups
                        })">
                Добавить
            </button>

            <!-- ----------------- COACHES -------------------- -->

            <div class="item item-divider">
                Тренеры
            </div>

            <ion-item ng-repeat="coachId in data.coaches"
                      class="item-button-right">

                <a class="royal" ng-click="$state.go( 'app.coaches.view', { id: coachId } )">
                    {{ ResourceCache.get('coaches/'+coachId ).name }}
                </a>

                <button class="button button-assertive button-clear icon ion-close"
                        ng-click="data.coaches.remove( coachId )">
                </button>

            </ion-item>

            <button class="item button button-balanced button-clear button-full"
                    ng-click="SearchModal.open({
                            title: 'Найти тренера',
                            resourceType: 'Coaches',
                            arrayToPush: data.coaches
                        })">
                Добавить
            </button>

            <!-- ----------------- HALLS -------------------- -->

            <div class="item item-divider">
                Залы
            </div>

            <ion-item ng-repeat="hallId in data.halls"
                      class="item-button-right">

                <a class="royal" ng-click="$state.go( 'app.halls.view', { id: hallId } )">
                    {{ ResourceCache.get('halls/'+hallId ).name }}
                </a>

                <button class="button button-assertive button-clear icon ion-close"
                        ng-click="data.halls.remove( hallId )">
                </button>

            </ion-item>

            <button class="item button button-balanced button-clear button-full"
                    ng-click="SearchModal.open({
                            title: 'Найти зал',
                            resourceType: 'Halls',
                            arrayToPush: data.halls
                        })">
                Добавить
            </button>

            <!-- ------------------------------------- -->

        </ion-list>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-assertive">
        <div class="title" ng-click="remove()">Удалить клиента</div>
    </ion-footer-bar>
</ion-view>